.fastmode-form {
    border: 1px solid white;
    border-radius: 20px;
}

.fastmode-form form{
    margin:25px;

}

.fastmode-form p{
    display:flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 5px;
    background-color: rgb(0,0,0, .8);
}

form input{
    width:50px;
    margin-left: 15px;
}

.fastmode-info{
    border: 1px solid white;
    border-radius: 10px;
}

.tables {
    display:flex;
}

.tablepositions{
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    padding:5px;
    min-width: 250px;
    min-height: 100px;
}

.tablepositions ol{
    margin:50px;
    padding:5px;
}